findMissingStrings.xcodeproj/project.xcworkspace/xcuserdata/johandegraeve.xcuserdatad/UserInterfaceState.xcuserstatea
findMissingStrings.xcodeproj/xcuserdata/johandegraeve.xcuserdatad/xcdebugger/
findMissingStrings.xcodeproj/project.xcworkspace/xcuserdata/
